html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: #007bff;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color) !important;
}

.custom-scrolltop:hover {
  background-color: var(--teal-400) !important;
}

.custom-scrolltop .p-scrolltop-icon {
  font-size: 1rem;
  color: var(--primary-color-text);
}

.picTabView .p-tabview-panel {
  min-width: 1000px;
}

.picTabView .p-tabview-panels {
  overflow: auto;
}

.wordTabView .p-tabview-panel {
  min-width: 500px;
  max-width: 800px;
}

.wordTabView .p-tabview-panels {
  overflow: auto;
}